



h1{
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    text-align: center;
    

}

#beginQuiz{
    position: absolute;
    top: 55%;
    left: 45%;
    right: 20%;
    text-align: center;
    

}

#rightOrWrong{
    position: absolute;
    top: 60%;
    left: 20%;
    right: 20%;
    text-align: center;
}


#question1Answers{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    text-align: center;
}
#question2Answers{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    text-align: center;
}
#question3Answers{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    text-align: center;
}
#question4Answers{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    text-align: center;
}
#question5Answers{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    text-align: center;
}


#countdown{
    margin: 5%;
    float: right;

}
#score{
    margin: 5%;
    float: right;
}
#highscore{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;

}